{% if site.flattr_blog_thing %}
<div id="Flatter" class="box-margin">
<a class="FlattrButton" style="display:none;"
    title="kyv.github.com"
    data-flattr-uid="{{ site.flattr_user }}"
    data-flattr-tags="blog code audio"
    data-flattr-button="compact"
    data-flattr-category="text"
    data-flattr-description="Blog sobre audio, codigo, letras y lo que nos ocurra."
    href="http://kyv.github.com">
</a>
<noscript>
  <a href="{{ site.flattr_blog_thing }}" target="_blank">
    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
  </a>
</noscript>
</div>

{% endif %}
