<section class="box-margin">
<!-- Begin TranslateThis Button -->

<div id="translate-this"><a style="width:180px;height:18px;display:block;" class="translate-this-button" href="http://www.translatecompany.com/">translate</a></div>

<script type="text/javascript" src="http://x.translateth.is/translate-this.js"></script>
<script type="text/javascript">
TranslateThis({
  ddLangs : [
    'en',
    'fr',
    'es',
    'ar',
    'zh-CN',
    'ko',
    'it',
    'iw',
    'de',
    'pt-PT',
    'ru',
    'ja',
    'vi',
    'el',
    'hi',
    'tr'
  ]
});
</script>

<!-- End TranslateThis Button -->
  
</section>
