<div id='es'>
<article role="article">
  
  <header>
    <h1 class="entry-title">Ciertas Letras</h1>

  </header>
  
  <h2>Iliada y Odisea</h2>

<pre><code>Siempre he hecho la guerra
Levantar pluma en contra del estado de la palabra.
Puña en contra de los terminos del estado.
¿sera que el horizonte a que mira el guerrero,
es el cruzero entre la guerra y el amor?
despues de reventar los terminos
volver a vivirlos segun su estado dado
mi pregunto si es cierto que despues de la guerra
si puede regressar a casa
</code></pre>

<h2>Arrollo Grande</h2>

<pre><code>los hombres no existen
    ahogaron en un seuño muerto
    ahora nadan eternamente algunas memorias
    siendo que es más fácil abandonar a la vida que a un sueño
    los demás hundieron para siempre en la basura del fondo

de las mujeres no si sabe
    amasan la masa de las horas
    hasta cuando aguanta la esperanza
    como el lo que es y el lo que no es
    soledad y esperanza
    acaso el corriente liberará un sueño cautivo
    y lo que no si sabe volverá a abrazar a la nada

los hombres no son
    muieron con sus dioses
    como serpientes dejaron únicamente la muda de su piel
    que, vacía como burbuja, levanta hacia la luz
    o hunde por su peso
</code></pre>

<h2>Alma</h2>

<pre><code>ten cuidado lector, al leer de luz de vela
pescas de noche, y las cosas materiales conviertan en sombras pero muy de repente

ahora de plena mar abierta:
de la letra, de por si una especia de sombra,
surge otro signo aparte de lo escrito
</code></pre>

<h2>Estacionamiento</h2>

<pre><code>se fuera una burbuja, como dicen, con únicamente una agujera rompiera

o será que es otro tipo de burbuja, de otro liquido, como el mercurio por ejemplo
y por esto sube y baja con la temperatura
así como la tierra es burbuja en el vació
y el monóxido y los mofles
    aniquilan el aire y el sonido

es como una vez sentirse solo, perdido en un enorme estacionamiento: 

la burbuja surge del vació y el vació de la burbuja
</code></pre>

<h2>Humo</h2>

<pre><code>cuerpo es puro rito, no tiene biblia

la luna quema
las meras letras de tu pronunciación
lo que queda fumaré con una pipa
    que alguien debe de haber olvidado
        en otro momento, igual como esto
            después del fuego
                y sin tabaco
</code></pre>

<h2>Una metafora</h2>

<pre><code>doy cuenta que decidí
pero solo después de decidirlo
    de hecho ya muy al fundo de, que se yo, una calle por ejemplo o una cueva

¿fue donde me dí a la derecha?
¿debía haber ido a la izquierda?

mi encierran las paredes
pero cuando colapsa el techo
brinco para arriba, o clavo en el mar abajo
o de plano muero, pero aun así

de todas maneras es solo una metáfora
</code></pre>

<h2>Un libro tal como esto</h2>

<pre><code>esto libro escrito por algún Mefistófeles
o algún mago malvado, o hereje
será que ella sea un monstruo por amar un libro tal como esto
o únicamente que ella sea capaz de amar a un monstruo
y que dice de aquel libro de herejía, de vanidad y enojo
     que una tal como ella lo ama
</code></pre>

<h2>Ave con lápiz</h2>

<pre><code>ave!  - dijo, y lo vi también al momento que bajo de un ramo y acercó a la calle. era del 
mismo color de los pinos y tenia que haber encontrado ahí tirado un lápiz, lo cual ahora 
cargaba en su pico. hacia como si iba a escribir, o escribía, por que cuando se retiró el 
ave hacia el cielo tempesteada del oriente, acercamos a donde quedó un papel con una marca 
más o menos de la forma del corazón. 

¿será que escriben los aves? - preguntó. 
¿o fue la harpía del tempesteada que embrujó al ave?
¿o que somos embrujados nosotros?
</code></pre>

<h2>Diagnosis Zombie</h2>

<pre><code>tenemos miedo, enajenamos

es que había un enfermedad
y se infectó a mucha gente
y para poder garantizarse a los vivientes sus vidas
tenían que evocar a la más embriagador de las sombras
    a la muerte en carne propia

y al invocarlo en el nombre de la paranoia
hacían del mundo una jaula
y así es que aun se matas hasta el ultimo de los zombies
siempre regresan en el 'sequel'

y no es metáfora del amor
ni de la guerra
sino es lo que vi, o me desvarié, 
cuando me mordió uno en la nalga
</code></pre>

<h2>Archeologia</h2>

<pre><code>quien cosiera su vestido
del hilo de tantas arañas?

será porque esperaba mucho?
o porque apuraba?
    para aguantar la llegada de uno que si perdió muy lejos?
    o evitar quien mas acercaba?

leía un mito
    en algún libro
        que el tiempo pasa
            y mañana es siempre para venir
            hasta todo termina y por fin 
            sacamos los cohetes y la champaña y                    
            comemos carnes fríos y hasta el mero
            universo se extingue
            como se las estrellas fueran solo                   
            banderas que caían cuando acababa el imperio de la noche

                pero sigues aun
                después de tantos revoluciones 
                igual como cualquier otro continente
</code></pre>

<h2>Dobles</h2>

<pre><code>¿como sabes?

porque se hubo otro
igual como yo
caminando en el mundo
el ou yo, uno de nosotros
    habrá asesinado al otro hace mucho
</code></pre>

<h2>El Cielo Es Un Trabajo</h2>

<pre><code>dios, 

importa poco se hay vacancia en el cielo, 
de todas manera no sé que poner en mi currículo.
</code></pre>

<h2>Canto del Auto-Encanto</h2>

<pre><code>lengua, cuerda
jala me adelante
que ya cansé de empujar

jala me lengua, que ya no quiero ni pensar
    lengua, cama, a descansar
    lengua, voz, a pronunciar

diga, suena, ya no supe de ninguna solitaria letra
o donde más salir de las lluvias de los sabores?
</code></pre>

<h2>La Tumba de Marcela</h2>

<pre><code>descendí a la tumba de marcela
la  tarde siguiente
a encontrar una única corcholata
ni rasgo de una envase
que superaba a la fiesta

hermana, por tu culpa
ha caído una nuble gris y portentoso
sobre el monte donde rezan los caballeros

aun no llueve, y hemos intentado
recolectar las cenizas que quedan al alcanza
y revolverlas en una cera
de ella haremos un sin fin de velas
y aun que se apaga una, es solo encender otra 
</code></pre>

<h2>Solo Nos Reconocemos en la Muerte</h2>

<pre><code>solo nos reconocemos en la muerte
como cuando de día no se ve ninguna estrella
por eso paramos en el crucero
y miramos por todos sentidos
</code></pre>

<h2>Extraer de Un Cuento</h2>

<pre><code>una cuerda que va rodeando
vuelta después de vuelta
a su interior hasta descubrir a quien cuenta el cuento
    no su autor sino quien lo canta
</code></pre>

<h2>Avispas</h2>

<pre><code>de los poros del tiempo
son las avispas

cosen,  con sus agujas,
la memoria y el dolor
en el piel de los niños
que los pretende atrapar en sus redes
atraídos por sus sonidos, 

las avispas suenan como algo de caricatura
y sus dibujos no son tatuaje, porque el tatuaje es cosa del futuro
con las avispas es únicamente el momento que duele 
</code></pre>

<h2>Las Campanas</h2>

<pre><code>por el rio
o más bien la caída del agua sobre la roca
    suena como la campana

del centro, y hasta que oí un voz reconocido
justo antes que abrirán las puertas y entramos todos a la ceremonia

    que aun resuena
 del los tiempos cuando un oración todavía surge por medio del aullido
</code></pre>

<h2>Los Muertos no Mueran</h2>

<pre><code>los muertos no mueran
    sino que retiran a las sombras
    para dedicar sus horas de ocio
    a inventar formas de enredar a los vivientes en sus juegos de espanto y misterio

-estas gentes, dicen algunos que conversan entre las llamas del infierno.
-no saben que es la vida. son muy perezosos. no ejercen la memoria.

los muertos tejan su conspiración, cosiendo la mirada de un muchacho a  la
de una muchacha con melodías tristes de violín y hilo que desprenda del
bambú. desde el inframundo los muertos escuchan al contrabajo de los pasos sobre
la tierra cuando la pareja si suma a la solemne baile.

alimentados por la musica y los huesos de los muertos, los fuegos infernales queman el 
combustible que impulsa el grano de echar raíces y brotar del suelo de igual forma que
Hun Nal Ye, el orgulloso dios del maíz la sangre de los enamorados hierve, su cama
compartido calentado por las mismas llamas y por ellas el atole si sirve caliente

-estas gentes, comentan los muertos en sus cotorreos filosóficos alrededor de las
llamas que alumbran a los arreglos de zempazuchitl que explotan de las paredes como
cohetes de amarillo y naranja sobre las fiestas terrenales.
-por miedo de la muerte, desisten de vivir.

-por miedo del dolor, desisten de amar, señala otro mientras recoge la ceniza de sus 
restos para hacer el abono.
-no hay olvido sino represión.
</code></pre>

<h2>Cuento Suljaa´ I</h2>

<pre><code>un dia un negrote que, por ser mas dado a la borrachera que los demás 
borrachos que hablaban y reieron a su alredador, quedaba dormido con boca abierta. pasaba 
una gartija que iba corriendo atràs de una mariposa. todos los demás quedaban viendo como
el gartija corria atrás de la mariposa, pero solo el negro quedaba dormido. la mariposa, 
en su fuga, metia en la boca abierta del negro. así que si dispertó el negro, comiendo la 
mariposa. y dispertano dijo: "dormia que mi queria comer una
gartija".
</code></pre>
<h2>Mictlan Tecutli</h2>

<pre><code>niños! serán poetas!
y sabrán escuchar a si mismo
como ahora escuchan el eco de estas palabras
    desvanecer hacia el fundo de una cueva 

digan a sus papas que sus mártires huelan de peces podridos
que se los bajan de sus cruces
los cuerpos pertenezcan a la tierra  y no al cielo
</code></pre>

<h2>El Planeta Tierra</h2>

<pre><code>las estrellas, se una ves llegas de obtener a una,
    requieren de los barcos
es como una ley cosmológica creo
    no pretendo entenderla en todo su profundidad
    pero al seguir a una estrella he llegado hasta a la costa

    confirmo que el camino termina donde empieza el mar

se fueras como rió, o como el sal
    en su delta disolverías, y de tus poros contentos florecerían muchas ostras
    millones de peces de multicolores harían sus guerras entre los pelos de tu genitales
    y tu espirito nadaría entre las barbas de la ballena

pero eres tierra
    revuelvas y pesas
si no pesaba, no importaría los revoluciones
pero  cada ves esta más pesada

    y por cierto, ya no alcanzamos metro
</code></pre>
  
</article>

</div>

