---
layout: default
---

<div class="span8">
      <div class="hero-unit">
        <img src='/images/logo.png'/>
      </div>

      <article class="latest_post well">
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
         {% include post_detail.html %}
      </article>
</div>
<aside class="sidebar-nav span3">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
